<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{username}},</p>
        <h3>Use this code to reset your password</h3>
        <h2>{{code}}</h2>
    </body>
</html>